.advantages_card_style{
    margin-top: 100px;
display: flex;
}

.advantages img{
    margin-bottom: 50px;
}
.advantages h2{
    font-size: 2.5rem
}

.advantages h3{
    font-size: 2.0rem;

}

.advantages p{
    font-size: x-large;

}