.hero{
    display: grid;
    grid-template-columns: 1fr;


}

.hero article{
    /* fix later v */
    margin-left: 10%;
    margin-top: -20%;
    /* fix later ^ */
    padding: 50px;
    background-color: white;
    box-shadow: 1px 1px #f2eeee;
    width: 500px;
    height: 325px;

}

.hero img{
    grid-row: 1;
}

.hero h1{
    font-size: xx-large;
}

.hero span{
    color: var(--orange);
}


.hero article div{
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;

}

.hero article div img{
    width: 20px;
    height: 20px;
}

.hero a{
    margin-left: 10px;
    color: white;
}

.hero span{
    color: var(--orange);
}

.hero p{
    margin-top: 10px;
    margin-bottom: 10px;
}


.navdiv{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    /* fix later v */
    position: relative;
    bottom: 550px;
    /* fix later ^ */
}

.keyarrow{
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 30px;
    width: 80px;
    padding: 10px;
}