@import "hero_style.css";
@import "services_style.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    max-width: 1440px;
    margin: auto;
}


:root {
    --orange: #F78065;
  }

img{
    max-width: 100%;}